{{template "layout_base.html" . }}

<h1>Sign up</h1>
<form method="POST">
  <label>Name:</label><br />
  <input type="text" name="name"><br />
  <label>Surname:</label><br />
  <input type="text" name="surname"><br />
  <label>Birthday:</label><br />
  <input type="date" name="birthday"><br />
  <label>City:</label><br />
  <input type="text" name="city"><br />
  <label>about:</label><br />
  <input type="text" name="about"><br />
  <label>Email:</label><br />
  <input type="text" name="email"><br />
  <label>Password:</label><br />
  <input type="password" name="password"><br />

  <input type="submit">
</form>