{{template "layout_base.html"}}
{{template "header.html" .}}


<section class="container mt-4 mb-4">
<div class="container">
	<div class="row mb-3">
    {{range .users}}  
      <div class="col-md-6">
        <div class="d-flex flex-row border rounded">
            <div class="p-0 w-25">
                <img src="https://c1.staticflickr.com/3/2862/12328317524_18e52b5972_k.jpg" class="img-thumbnail border-0" />
            </div>
            <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                <h4 class="text-primary">{{.Name}} {{.Surname}}</h4>
                <h5 class="text-info">{{.City}}</h5>
                <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
                  <li><i class="fab fa-facebook-square"></i> {{.About}}</li>
                </ul>
              {{- $userUrl := printf "/users/%d" .Id -}}                
              <p class="text-right m-0"><a href={{$userUrl}} class="btn btn-primary"><i class="far fa-user"></i> View Profile</a></p>
          </div>
        </div>
      </div>
    {{end}}
	</div>

</div>
</section>